user=loklaan
email=bunn@lochlan.io
name=Lochlan Bunn
init-author-name=Lochlan Bunn
init-author-email=bunn@lochlan.io
init-author-license=MIT
init-version=0.1.0
init-license=MIT
//registry.npmjs.org/:_authToken={{ (bitwardenFields "item" "dotfiles").npm_auth_token.value }}
