{{ if ne "" .emailWork -}}
// https://github.com/johnste/finicky/wiki/Configuration
const Browser = {
  WORK: {
    name: "Google Chrome",
    profile: "Profile 1",
  },
  PERSONAL: "Firefox",
};

module.exports = {
  defaultBrowser: Browser.WORK,
  handlers: [
    {
      match: /youtube\.com/,
      browser: Browser.PERSONAL,
    },
    {
      match: /(twitter|x)\.com/,
      browser: Browser.PERSONAL,
    },
    {
      match: /linkedin\.com/,
      browser: Browser.PERSONAL,
    },
    {
      match: /instagram\.com/,
      browser: Browser.PERSONAL,
    },
    {
      match: /rive\.com/,
      browser: Browser.PERSONAL,
    },
    {
      match: /logi\.com/,
      browser: Browser.PERSONAL,
    },
    {
      match: /fly\.io/,
      browser: Browser.PERSONAL,
    },
    {
      match: /amazon\.com\.au/,
      browser: Browser.PERSONAL,
    },
    {
      match: /pccasegear\.com/,
      browser: Browser.PERSONAL,
    },
    {
      match: /spotify\.com/,
      browser: Browser.PERSONAL,
    },
    {
      match: /gitbutler\.com/,
      browser: Browser.PERSONAL,
    }
  ]
}
{{- end }}
