init-author-name=Lochlan Bunn
init-author-email=bunn@lochlan.io
init-version=0.1.0
init-license=MIT
{{- $bwsToken := "" -}}
{{- if stat .bwsTokenPath -}}
{{-   $bwsToken = include .bwsTokenPath | trim -}}
{{- end -}}
{{- if ne "" $bwsToken }}
//registry.npmjs.org/:_authToken={{ (bitwardenSecrets .bwsIdNpmAuthToken $bwsToken).value }}
{{- end }}
