{{- /* Decrypt BWS token if age identity exists */ -}}
{{- $bwsToken := "" -}}
{{- if stat .ageIdentityPath -}}
{{-   $bwsToken = .bwsTokenEncrypted | decrypt | trim -}}
{{- end -}}
{{- if ne "" $bwsToken -}}
{{-   if ne "" .emailWork -}}
{{ (bitwardenSecrets .bwsIdGithubAuthTokenCanvaOnly $bwsToken).value }}
{{-   else -}}
{{ (bitwardenSecrets .bwsIdGithubAuthToken $bwsToken).value }}
{{-   end -}}
{{- end -}}
