{{- /* Decrypt BWS token if token file exists */ -}}
{{- $bwsToken := "" -}}
{{- if stat .bwsTokenPath -}}
{{-   $bwsToken = include .bwsTokenPath | decrypt | trim -}}
{{- end -}}
{{- if ne "" $bwsToken -}}
{{-   if ne "" .emailWork -}}
{{ (bitwardenSecrets .bwsIdGithubAuthTokenCanvaOnly $bwsToken).value }}
{{-   else -}}
{{ (bitwardenSecrets .bwsIdGithubAuthToken $bwsToken).value }}
{{-   end -}}
{{- end -}}
