init-author-name=Lochlan Bunn
init-author-email=bunn@lochlan.io
init-version=0.1.0
init-license=MIT
{{- if env "BWS_ACCESS_TOKEN" }}
//registry.npmjs.org/:_authToken={{ (bitwardenSecrets .bwsIdNpmAuthToken).value }}
{{- end }}
