# Package managers
## Mise (full)
if [[ -o interactive ]] && which mise >/dev/null; then
  eval "$(mise activate zsh)"
fi
## Nix
[[ ! $(command -v nix) && -e "/nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh" ]] && source "/nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh"

# Background daemons / agents
## SSH
source "$HOME/.config/zsh/lib/ssh.sh"
if typeset -f _ssh_agent > /dev/null; then
  _ssh_agent
fi
export GPG_TTY=$(tty)

# Dev machines & ai agents
## Coder boxes
[ -e "$HOME/.coder.sh" ] && . "$HOME/.coder.sh"

# Logs the profile, started in .zshenv
if [[ "$PROFILE_STARTUP" == true ]]; then
  zprof
fi

#|------------------------------------------------------------|#
#| Drop into tmux if it's up
#|------------------------------------------------------------|#
if should_attempt_resume_tmux_prompt; then
	if resume_tmux_prompt; then
		tmux new-session -A -s "main-session"
	fi
fi

