#|------------------------------------------------------------|#
#| Reset terminal text
#|------------------------------------------------------------|#
clear && source "$HOME/.config/zsh/lib/term.zsh"
clear && reset_cursor && cursor_disable

#|------------------------------------------------------------|#
#| Cute lochlanness
#|------------------------------------------------------------|#
cursor_disable && loading_message

#|------------------------------------------------------------|#
#| Final cute lochlanness
#|------------------------------------------------------------|#
welcome_message && cursor_enable
