#!/bin/bash

set -o errexit
set -o nounset

zsh_shell="/bin/zsh"
if [ ! "$SHELL" = "$zsh_shell" ]; then
  if [[ $(command -v go) ]]; then
    echo "You must manually install zsh and set it as the default shell."
    echo " 1. Install \"zsh\""
    echo " 2. Run: chsh -s \"$zsh_shell\""
  else
    # Change the default shell to zsh
    chsh -s "$zsh_shell"
  fi
fi
