#!/bin/bash

set -o errexit
set -o nounset

printf "\nDone installing dotfiles! Continue to install *packages*:
  Common programs, libraries and GUI applications
    \$ install-my-packages --gui
  Only programs & libraries
    \$ install-my-packages
"
