{
{{- if eq "" (env "CODER") }}
  "amazon-bedrock": { "type": "api", "key": "llmproxy" },
{{- end }}
  "google": { "type": "api", "key": "llmproxy" },
  "openai": { "type": "api", "key": "llmproxy" }
}
