## Ghostty
# Load shell integration
if [[ -n $GHOSTTY_RESOURCES_DIR ]]; then
  source "$GHOSTTY_RESOURCES_DIR"/shell-integration/zsh/ghostty-integration
fi

## iTerm2
# Customise titlebar
if [[ $TERM_PROGRAM = "iTerm.app" ]]; then
  echo -ne "\033]6;1;bg;red;brightness;40\a"
  echo -ne "\033]6;1;bg;green;brightness;42\a"
  echo -ne "\033]6;1;bg;blue;brightness;54\a"
fi
