[".tmux/_plugins/tmux-continuum"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tmux-continuum/archive/0698e8f.tar.gz"
    exact = true
    stripComponents = 1
[".tmux/_plugins/tmux-resurrect"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tmux-resurrect/archive/cff343c.tar.gz"
    exact = true
    stripComponents = 1
[".tmux/_plugins/tmux-themepack"]
    type = "archive"
    url = "https://github.com/jimeh/tmux-themepack/archive/7c59902.tar.gz"
    exact = true
    stripComponents = 1
[".tmux/_plugins/tmux-yank"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tmux-yank/archive/acfd36e.tar.gz"
    exact = true
    stripComponents = 1
