[".tmux/_plugins/tmux-continuum"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tmux-continuum/archive/7f99beee.tar.gz"
    exact = true
    stripComponents = 1
[".tmux/_plugins/tmux-resurrect"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tmux-resurrect/archive/c66b791f.tar.gz"
    exact = true
    stripComponents = 1
[".tmux/_plugins/tmux-themepack"]
    type = "archive"
    url = "https://github.com/jimeh/tmux-themepack/archive/1b1b8098.tar.gz"
    exact = true
    stripComponents = 1
[".tmux/_plugins/tmux-yank"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tmux-yank/archive/ce21dafd.tar.gz"
    exact = true
    stripComponents = 1
