[".zshrc.d/zplug"]
    type = "archive"
    url = "https://github.com/zplug/zplug/archive/2.4.2.tar.gz"
    stripComponents = 1
[".zshrc.d/plugins/oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/7ea8a93b.tar.gz"
    exact = true
    stripComponents = 1
[".zshrc.d/plugins/zsh-autosuggestions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/a411ef3.tar.gz"
    exact = true
    stripComponents = 1
[".zshrc.d/plugins/zsh-history-substring-search"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-history-substring-search/archive/4abed97.tar.gz"
    exact = true
    stripComponents = 1
[".zshrc.d/plugins/zsh-completions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-completions/archive/f9373c9.tar.gz"
    exact = true
    stripComponents = 1
[".zshrc.d/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/b2c910a.tar.gz"
    exact = true
    stripComponents = 1
[".zshrc.d/plugins/n"]
    type = "archive"
    url = "https://github.com/tj/n/archive/6ad75d9.tar.gz"
    exact = true
    stripComponents = 1
[".zshrc.d/plugins/pure"]
    type = "archive"
    url = "https://github.com/sindresorhus/pure/archive/2e354b8.tar.gz"
    exact = true
    stripComponents = 1
[".zshrc.d/plugins/zsh-async"]
    type = "archive"
    url = "https://github.com/mafredri/zsh-async/archive/3ba6e2d.tar.gz"
    exact = true
    stripComponents = 1
[".zshrc.d/plugins/fzf"]
    type = "archive"
    url = "https://github.com/junegunn/fzf/archive/6b207bb.tar.gz"
    exact = true
    stripComponents = 1
