[".config/zsh/zplug"]
    type = "archive"
    url = "https://github.com/zplug/zplug/archive/2.4.2.tar.gz"
    stripComponents = 1
[".config/zsh/plugins/oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/c86ba78.tar.gz"
    exact = true
    stripComponents = 1
[".config/zsh/plugins/zsh-autosuggestions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/85919cd.tar.gz"
    exact = true
    stripComponents = 1
[".config/zsh/plugins/zsh-history-substring-search"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-history-substring-search/archive/14c8d2e.tar.gz"
    exact = true
    stripComponents = 1
[".config/zsh/plugins/zsh-completions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-completions/archive/6d21c2a.tar.gz"
    exact = true
    stripComponents = 1
[".config/zsh/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/1d85c69.tar.gz"
    exact = true
    stripComponents = 1
[".config/zsh/plugins/pure"]
    type = "archive"
    url = "https://github.com/sindresorhus/pure/archive/cc0759a.tar.gz"
    exact = true
    stripComponents = 1
[".config/zsh/plugins/zsh-async"]
    type = "archive"
    url = "https://github.com/mafredri/zsh-async/archive/ee1d11b.tar.gz"
    exact = true
    stripComponents = 1
