#|-----------------------------------------------------------------------------|
#| INIT MODULE: Prompt                                                         |
#|-----------------------------------------------------------------------------|
#|                                                                             |
#| Purpose:                                                                    |
#|   Prints a welcome message and tip above the first prompt.                  |
#|   Handles startup profiling output and the tmux attach prompt.              |
#|                                                                             |
#| Responsibilities:                                                           |
#|   - Print a welcome message and tip above the first prompt                  |
#|   - Handle startup profiling output                                         |
#|   - Handle the tmux attach prompt                                           |
#|                                                                             |
#|-----------------------------------------------------------------------------|

source "${HOME}/.local/lib/term.zsh"

#|------------------------------------------------------------|#
#| Greeting
#|
#| Print a welcome message and tip for interactive shells.
#|
is_interactive_shell && greeting

#|------------------------------------------------------------|#
#| Terminal Profile
#|
if [[ "$PROFILE_STARTUP" == true ]]; then
  # Logs the profile, started in .zshenv
  zprof
fi

#|------------------------------------------------------------|#
#| Tmux Sessions
#|
# Disable temporarily
if should_attempt_resume_tmux_prompt; then
	if resume_tmux_prompt; then
		tmux new-session -A -s 'main-session'
	fi
fi
