[user]
  name = Lochlan Bunn
  email = {{ .emailWork }}

[canvaboy]
  githubToken = {{ (bitwardenFields "item" "dotfiles").github_auth_token.value }}
  orgRepo = canva/phoenix

[maintenance]
  repo = ~/dev/canva
