[user]
  name = Lochlan Bunn
  email = {{ .emailWork }}

[canvaboy]
  githubToken = {{ (bitwardenFields "item" "dotfiles").github_auth_token.value }}
  orgRepo = canva/phoenix

[maintenance]
  repo = ~/dev/canva

[trace2]
  # Send Git tracing debug information to Olly monitoring
  # Ensure detailed Git command execution data is logged to Unix domain socket for performance analysis
  # Data includes command timing, settings, errors, and process tree information
  # Autoinjection to the main config is avoided with the env var GIT_TRACE2_CONFIG
  eventTarget = af_unix:dgram:/tmp/olly-git-trace2.sock
