{{- /* Detect SSH session */ -}}
{{- $isSSH := or (env "SSH_CONNECTION") (env "SSH_TTY") -}}
"$schema" = 'https://starship.rs/config-schema.json'

# Use different palette for SSH vs local
palette = '{{ if $isSSH }}ssh{{ else }}local{{ end }}'

format = """
$username\
$hostname\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$hg_branch\
$hg_state\
$cmd_duration\
$localip\
$shlvl\
$singularity\
$kubernetes\
$vcsh\
$fossil_branch\
$fossil_metrics\
$pijul_channel\
$docker_context\
$jobs\
$battery\
$time\
$status\
$os\
$container\
$netns\
$shell\
$package\
$c\
$cmake\
$cobol\
$daml\
$dart\
$deno\
$dotnet\
$elixir\
$elm\
$erlang\
$fennel\
$fortran\
$gleam\
$golang\
$guix_shell\
$haskell\
$haxe\
$helm\
$java\
$julia\
$kotlin\
$gradle\
$lua\
$nim\
$nodejs\
$ocaml\
$opa\
$perl\
$php\
$pulumi\
$purescript\
$python\
$quarto\
$raku\
$rlang\
$red\
$ruby\
$rust\
$scala\
$solidity\
$swift\
$terraform\
$typst\
$vlang\
$vagrant\
$zig\
$buf\
$nix_shell\
$conda\
$meson\
$spack\
$memory_usage\
$aws\
$gcloud\
$openstack\
$azure\
$nats\
$direnv\
$env_var\
$mise\
$crystal\
$custom\
$sudo\
$line_break\
$character"""

# Local machine palette - cool blues and purples
[palettes.local]
c_dir_main = 'blue'
c_char_success = 'purple'
c_char_error = 'red'
c_char_vim = 'green'
c_git_branch = 'bright-black'
c_git_changes = '218'  # pink/salmon
c_git_info = 'cyan'
c_duration = 'yellow'
c_context = 'bright-black'

# SSH machine palette - warm oranges and ambers
[palettes.ssh]
c_dir_main = '208'  # orange
c_char_success = '51'  # bright cyan
c_char_error = 'red'
c_char_vim = 'green'
c_git_branch = 'bright-black'
c_git_changes = '214'  # amber/gold
c_git_info = '117'  # sky blue
c_duration = 'yellow'
c_context = 'bright-black'

[username]
format = "[$user]($style)"
style_user = "dimmed red"
style_root = "bold red"

[hostname]
ssh_symbol = "@"
format = "[$ssh_symbol]($style)[$hostname]($style underline) in "
style = "bold red"

[directory]
style = "c_dir_main"
format = "[ $path ]($style)"
truncation_length = 5
truncate_to_repo = true
fish_style_pwd_dir_length = 1
repo_root_style = "bold c_context bg:c_dir_main"
read_only = " 󰌾"

[git_branch]
format = "[$branch]($style)"
style = "c_git_branch"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "c_context"

[git_status]
format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](c_git_changes) ($ahead_behind$stashed)]($style) "
style = "c_git_info"
conflicted = "​"
untracked = "​"
modified = "​"
staged = "​"
renamed = "​"
deleted = "​"
stashed = "≡"

[hg_branch]
symbol = " "
truncation_symbol = "..."

[cmd_duration]
format = "[$duration]($style) "
style = "c_duration"

[shlvl]
symbol = "shlvl "

[kubernetes]
symbol = "kubernetes "

[fossil_branch]
symbol = " "
truncation_symbol = "..."

[pijul_channel]
symbol = " "
truncation_symbol = "..."

[docker_context]
symbol = " "

[jobs]
symbol = "*"

[battery]
full_symbol = "full "
charging_symbol = "charging "
discharging_symbol = "discharging "
unknown_symbol = "unknown "
empty_symbol = "empty "

[status]
disabled = false
symbol = " "
not_executable_symbol = "noexec"
not_found_symbol = "notfound"
sigint_symbol = "sigint"
signal_symbol = "sig"

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
AOSC = " "
Arch = " "
Artix = " "
Bluefin = "blfn "
CachyOS = " "
CentOS = " "
Debian = " "
DragonFly = " "
Elementary = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Ios = "󰀷 "
InstantOS = "inst "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
Nobara = " "
OpenBSD = "󰈺 "
OpenCloudOS = "ocos "
openEuler = "oeul "
openSUSE = " "
OracleLinux = "󰌷 "
PikaOS = "pika "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Ultramarine = "ultm "
Unknown = " "
Uos = "uos "
Void = " "
Windows = "󰍲 "
Zorin = " "

[container]
symbol = "container "

[netns]
symbol = "netns "

[package]
symbol = "󰏗 "
disabled = true

[c]
symbol = " "

[cpp]
symbol = " "

[cmake]
symbol = " "

[cobol]
symbol = "cobol "

[daml]
symbol = "daml "

[dart]
symbol = " "

[deno]
symbol = " "

[dotnet]
format = "via [$symbol($version )(target $tfm )]($style)"
symbol = ".NET "

[elixir]
symbol = " "

[elm]
symbol = " "

[erlang]
symbol = "erl "

[fennel]
symbol = " "

[fortran]
symbol = " "

[gleam]
symbol = "gleam "

[golang]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[helm]
symbol = "helm "

[java]
symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[gradle]
symbol = " "

[lua]
symbol = " "

[nim]
symbol = "󰆥 "

[nodejs]
symbol = " "

[ocaml]
symbol = " "

[odin]
symbol = "odin "

[opa]
symbol = "opa "

[perl]
symbol = " "

[php]
symbol = " "

[pulumi]
symbol = "pulumi "

[purescript]
symbol = "purs "

[python]
format = "[$virtualenv]($style) "
style = "c_context"
detect_extensions = []
detect_files = []
symbol = " "

[quarto]
symbol = "quarto "

[raku]
symbol = "raku "

[rlang]
symbol = "󰟔 "

[red]
symbol = "red "

[ruby]
symbol = " "

[rust]
symbol = "󱘗 "

[scala]
symbol = " "

[solidity]
symbol = "solidity "

[swift]
symbol = " "

[terraform]
symbol = "terraform "

[typst]
symbol = "typst "

[vagrant]
symbol = "vagrant "

[zig]
symbol = " "

[buf]
symbol = " "

[bun]
symbol = " "

[nix_shell]
symbol = " "

[conda]
symbol = " "

[meson]
symbol = "󰔷 "
truncation_symbol = "..."

[spack]
symbol = "spack "

[memory_usage]
symbol = "󰍛 "

[aws]
symbol = " "

[gcloud]
symbol = " "

[openstack]
symbol = "openstack "

[azure]
symbol = "az "

[nats]
symbol = "nats "

[mise]
disabled = false

[mojo]
symbol = "mojo "

[pixi]
symbol = "󰏗 "

[crystal]
symbol = " "

[sudo]
symbol = "sudo "

[xmake]
symbol = " "

[character]
success_symbol = "[❯](c_char_success)"
error_symbol = "[❯](c_char_error)"
vimcmd_symbol = "[❮](c_char_vim)"
